canvas {
  border: 1px solid black;
  display: block;
  margin: 0 auto;
  background-color: #e0ffff;
}

body {
  position: relative;
  margin: 0;
}

#characterSelection {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  pointer-events: none;
}


#gameCanvas {
  display: none;
}

#resetBtn {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  width: 160px;
  height: 30px;
  padding: 0;
  font-size: 20px;
}

#scoreContainer {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-family: Arial;
}

#highScoreList {
  list-style: none;
  padding: 0;
  margin: 0;
}

#nameEntry {
  margin-top: 10px;
  display: none;
}

#nameInput {
  padding: 5px;
}

#saveScoreBtn {
  padding: 5px;
}

#pauseOverlay {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: black;
  text-align: center;
}

#volumeControl {
  position: absolute;
  top: 30px;
  left: 10px;
  display: none;
  flex-direction: column;
  gap: 5px;
}

#volumeControl .volumeRow {
  display: flex;
  align-items: center;
  gap: 5px;
}

#volumeControl input[type="range"] {
  width: 100px;
}
