canvas {
  border: 1px solid black;
  display: block;
  margin: 0 auto;
  background-color: #e0ffff;
}

body {
  position: relative;
  margin: 0;
}

#instructions {
  text-align: center;
}

#instructions ul {
  padding-left: 0;
}

#instructions li {
  list-style: none;
}

#gameCanvas {
  display: none;
}
