canvas {
  border: 1px solid black;
  display: block;
  margin: 0 auto;
  background-color: #e0ffff;
}

body {
  position: relative;
  margin: 0;
}



#gameCanvas {
  display: none;
}

#resetBtn {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  width: 160px;
  height: 30px;
  padding: 0;
  font-size: 20px;
}


#pauseOverlay {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: black;
  text-align: center;
}

